.alternative-routes-container {
    margin: 0 auto;
}

.page-description {
    position: relative;
    height: 300px;
    background-image: url('https://www.omio.com/gcs-proxy/static_content_repo/web/content/rest/hero/connection_page-bus-dw.jpg');
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.page-description p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-size: 20px;
    /* Reducir el tamaño del texto */
    font-weight: bold;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 8px;
}


.alternative-routes-list {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    gap: 20px;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
}



// .alternative-routes-container {
//   margin: 0 auto;
// }

// .page-description {
//   position: relative;
//   margin-bottom: 20px;
//   height: 300px; /* Ajusta la altura de la imagen */
//   background-image: url('https://www.omio.com/gcs-proxy/static_content_repo/web/content/rest/hero/connection_page-bus-dw.jpg');
//   background-size: contain; /* Cambia a contain para ajustar la imagen al contenedor */
//   background-position: center;
//   border-radius: 8px;
//   overflow: hidden;
// }


// .page-description p {
//   position: absolute;
//   top: 50%; /* Centra verticalmente el texto */
//   left: 50%; /* Centra horizontalmente el texto */
//   transform: translate(-50%, -50%); /* Centra completamente el texto */
//   text-align: center; /* Alinea el texto al centro */
//   color: #fff;
//   font-size: 24px; /* Ajusta el tamaño del texto según sea necesario */
//   font-weight: bold;
//   padding: 10px 20px; /* Añade espacio alrededor del texto */
//   background-color: rgba(0, 0, 0, 0.7); /* Agrega un fondo semitransparente al texto */
//   border-radius: 8px;
// }

// /* Otros estilos permanecen sin cambios */


// .alternative-routes-list {
//   display: grid;
//   grid-template-columns: repeat(3, minmax(0, 1fr));
//   gap: 20px;
// }

// .alternative-route {
//   width: 100%;
//   /* max-width: 300px; */ /* Puedes eliminar o ajustar esta línea para hacer las tarjetas más grandes */
//   color: #fff;
//   border: 2px solid #000;
//   border-radius: 8px;
//   padding: 15px;
//   box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
//   transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
//   cursor: pointer;
// }

// .alternative-route:hover {
//   transform: scale(1.05);
//   box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
// }

// h1 {
//   margin-top: 25px;
//   text-align: center;
// }

// .route-button {
//   background-color: #007bff;
//   color: #fff;
//   border: none;
//   padding: 8px 16px;
//   border-radius: 4px;
//   cursor: pointer;
//   transition: background-color 0.3s ease;

//   &:hover {
//     background-color: #0056b3;
//   }
// }