@import "../../lib/style-helpers/colors";
@import "../../lib/style-helpers/measurement";


.company-dashboard {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.nav-bar {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 25%;
    height: 100%;
    background-color: $primary;

    .logout-button {
        position: absolute;
        bottom: 20px;
        left: 20px;
        color: $primary;
        background-color: $base-color;
        text-decoration: none;
        width: fit-content;
        padding: 0 15px;

        &:hover {
            background-color: rgba(darken($primary, 35%), .2);
            color: $base-color;
            opacity: 0.9;
            border: 1px solid $base-color;
        }
    }
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 25px;
    border-radius: 50%;

    img {
        width: 30%;
        border-radius: 50%;
        aspect-ratio: 1/1;
    }

    h1 {
        font-size: 1.7rem;
        color: white;
    }
}

.options {
    border-top: 1px solid rgba($base-color, .4);
    display: flex;
    flex-direction: column;
    width: 100%;


    .dashboard-option {
        color: white;
        text-decoration: none;
        font-size: 1.2rem;
        padding: 20px;

        &:hover {
            background-color: rgba(darken($primary, 35%), .2);
        }

    }
}

.dashboard-content {
    flex: 1;
    padding: 20px;
    display: flex;
    place-items: center;
    place-content: center;

}

.route-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: fit-content;

    padding: 20px 40px;
    background-color: $base-color;
    border-radius: $radius-base;
    align-items: center;

    .input-wrapper {
        width: 100%;
        flex-direction: column;
        align-items: start;
    }
}

.routes {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 20px;
}