@import "../../../lib/style-helpers/colors";
@import "../../../lib/style-helpers/measurement";

.add-route-main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 40px;
    align-items: center;
    flex: 1;
    justify-content: space-between;
    width: 100%;
    height: 100%;

    .title {
        font-size: 2em;
    }



    .add-route-form {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
        height: 70%;
        justify-content: center;

        .form-sections {
            display: flex;
            justify-content: space-evenly;
            width: 100%;
            height: 100%;

            .form-section {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-end;
                gap: 10px;
                height: 100%;
                width: 40%;

                width: 40%;

                .route-input {
                    width: 100%;
                    padding: 10px;
                    border-radius: $radius-base;
                    border: none;
                    background-color: darken($base-color, 10%);
                }
            }

            .stops-part {
                width: 40%;
                background-color: darken($base-color, 10%);
                border-radius: $radius-base;
                display: flex;
                flex-direction: column;
                gap: 20px;
                position: relative;
                padding: 10px;

                .add-stop {
                    position: absolute;
                    bottom: 10px;
                    right: 10px;
                    width: fit-content;
                    padding: 10px;
                }

                .stops {
                    display: flex;
                    align-items: start;
                    flex-direction: column;

                    gap: 20px;

                    .stop {
                        color: black;
                        list-style: inside;

                        span {
                            color: black;
                        }
                    }
                }

            }
        }
    }

}

.input-wrapper {
    width: 100%;
    flex-direction: column;
    align-items: start;
}

.route-select {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.confirm-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 10%;
    padding: 10px;
    background-color: darken($base-color, 10%);
    border-radius: $radius-base;
    transition: all ease .3s;

    .confirm-button {
        padding: 10px;
        border-radius: $radius-base;
        background-color: $base-color;
        color: white;
        border: none;
        cursor: pointer;
    }
}