@import "../../../lib/style-helpers/colors";

.ticket-payment-main {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;

  .ticket-pay-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 70%;
    max-width: 600px;

    fieldset {
      border-radius: 15px;
      padding: 50px 20px;
      background-color: $base-color;
      display: flex;
      flex-direction: column;
      gap: 30px;

      .company-name{
        align-self: center;
      }

      .credit-card {
        background-color: darken($base-color, 10%);
        padding: 10px;
        border-radius: 15px;
      }

      .pay-ticket-image {
        height: 220px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;

        img {
          border-radius: 50%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }

}