/*
<main className="stops-page">
<h2 className="title">Paraderos de la ciudad</h2>
<section className="stop-list">
    {stops.map(({ ID_Paradero, Nombre, Foto }) => (
        <section key={ID_Paradero} className="stop">
            <img src="https://media.wired.com/photos/59269cd37034dc5f91bec0f1/master/pass/GoogleMapTA.jpg" alt="" className="stop-location" />
            <section className="content">
                <h3>{Nombre}</h3>
                <img src={Foto} alt="" className="stop-image" />
                <NavButton to={`/home/stop/${ID_Paradero}`} content="Ver paradero" />
            </section>
        </section>
    ))}
</section>
</main>
*/
@import "../../../lib/style-helpers/measurement";
@import "../../../lib/style-helpers/colors";

.stop-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.stop {
  width: 450px; /* Aumentamos el ancho de las cartas */
  margin: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.map {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 90%;
}

.content h3 {
  margin-top: 0;
  font-size: 20px;
}

.content p {
  font-size: 14px; /* Reducimos el tamaño del texto dentro de las cartas */
}

.button {
  background-color: #000000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 13px;
}

.button:hover {
  background-color: #0c0d0e;
}
.section-header{
  display: flex;
align-items: center;
justify-content: center;
}