@import "../../../../lib/style-helpers/measurement";
@import "../../../../lib/style-helpers/colors";

.single-stop-page {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.stop-information {
  display: flex;
  align-items: center;
}

.stop-location,
.stop-image {
  width: 50%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.stop-image {
  margin-left: 20px;
}

.routes {
  margin-top: 20px;
}

.route-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.route {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  text-decoration: none;
  color: #333;
  transition: background-color 0.3s ease;
}

.route:hover {
  background-color: #f0f0f0;
}

.route-info-item {
  margin-bottom: 10px;
}

.description {
  margin-top: 20px;
}
.content {
  padding: 20px;
  text-align: center;
}