@import "../../../lib/style-helpers/colors";
@import "../../../lib/style-helpers/measurement";
@import "../../../lib/style-helpers/mixins";

.home-header {
  z-index: 100;
  background-color: #222;
  /* Nuevo color de fondo */
  width: 100%;
  height: 10vh;
  display: flex;
  padding: 0 40px;
  align-items: center;
  position: sticky;
  top: 0;
  right: 0;
  max-height: 120px;
  animation-name: unnappear;
  animation-timeline: scroll();
  transition: background-color 0.5s ease-in-out;
  backdrop-filter: blur(10px) brightness(0.5);
  color: #000000;
  font-size: 14px;
  /* Tamaño de letra reducido */
}

@keyframes unnappear {
  to {
    background-color: rgba(44, 62, 80, 0.4);
    /* Nuevo color de fondo con transparencia */
  }
}

/* El resto de los estilos se mantienen igual */

.header-buttons {
  justify-content: center;
  display: flex;
  align-items: center;
  gap: 15px;

  .header-button {
    padding: 8px;
    font-size: 14px;

    &:hover {
      text-decoration: underline;
    }
  }
}

.header-logo {
  flex: 1;
  flex-basis: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  height: 50px;
  padding: 5px;

  .logo {
    width: fit-content;
  }
  .home-logo {
    height: 100%;
    flex: 0;
    img {
      aspect-ratio: 1/1;
      @include interactive;
      height: 100%;
      /* Reducir tamaño del logo */
    }
  }
  .my-buss-title {
    width: fit-content;
    font-size: 20px;
    flex: 1;
    color: $base-color;
  }
}

@include responsive("tablet") {
  .header-buttons {
    gap: 10px;
  }
  .header-logo {
    gap: 5px;
  }
  .my-buss-title {
    font-size: 18px;
  }
}
@include responsive("phone") {
  .home-header {
    flex-direction: column;
    height: fit-content;
    padding: 10px;
    gap: 20px;
  }
  .header-buttons {
    gap: 5px;
  }
  .my-buss-title {
    font-size: 16px;
  }
}