@import "../../../lib/style-helpers/measurement";
@import "../../../lib/style-helpers/colors";

.join-home {
    width: 100%;
    display: grid;
    place-items: center;
    height: 90vh;
    background-image: url("/Images/Bus-2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    * {
        color: $base-color;
    }

    .form-sections {
        border-radius: $radius-base;
        backdrop-filter: brightness(0.15) blur(3px);
        display: flex;
        width: 80%;

        .change-join-type {
            background-color: $primary;
            padding: 5rem 1rem;
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 3rem;
            border-radius: inherit;
            .change-join-button {
                background-color: $dark-color;
            }
            h2 {
                font-size: 2.2rem;
                text-align: center;
            }
            p {
                font-size: 1.2rem;
                text-align: center;
                text-wrap: pretty;
            }
        }
    }
}