@import "../../../lib/style-helpers/colors";
  @import "../../../lib/style-helpers/measurement";


.register-content {
  padding: 5rem 1.5rem;
  background-color: $base-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border-radius: $radius-base;
}

.register-form {
  display: flex;
  gap: 1rem;
  width: 500px;
  flex: 1;
  padding:  1rem 0;
  overflow-x: hidden;
}

.register-camps {
  display: none;
  min-width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: end;
  gap: 1rem;
  .continue-button {
    margin: 0 20px 0 0;
    bottom: 0;
    right: 0;

  }
  .input-wrapper {
    width: 100%;
    justify-content: end;
    text-align: end;
    flex-direction: column;
    align-items: start;
    .form-input {
      width: 100%;
    }
  }

}
.register-camps.active {
  display: flex;
}

.movement-buttons {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  width: 100%;
  .back-button {
    margin: 0 20px 0 0;
  }
  .continue-button {
    margin: 0 0 0 20px;
  }
}