 @import "../../../lib/style-helpers/colors";
 @import "../../../lib/style-helpers/measurement";

 .login-form {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 2rem;
   padding: 20px 200px;
 }

 .login-home {
   display: grid;
   place-items: center;
   width: 100%;
   padding: 5rem 0;
 }

 .login-content {
   border: 1px solid $primary;
   padding: 5rem 5rem;
   background-color: $base-color;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 2rem;
   border-radius: $radius-base;
 }



 .login-form_title {
   font-size: 2rem;
   margin-bottom: 1rem;
 }
.input-wrapper{
  flex-direction: column;
  align-items: start;

}
 .form-input {
   width: 250px;
   height: 30px;
 }  

 .login-button {
  width: 100%;
}


.login-ways {
  display: flex;
  gap: 1rem;
  width: 100%;
  justify-content: center;
}

.form-sections {
  display: flex;
}