/*
<main className="route-main">
            <h1>{Nombre}</h1>
            <section className="route-info">
                <img src="https://media.wired.com/photos/59269cd37034dc5f91bec0f1/master/pass/GoogleMapTA.jpg" alt="" className="stop-location" />
            </section>
            <section className="route-details">
                <h2>Detalles de la ruta</h2>
                <p>{Descripción}</p>
                <div className="route-details">
                    <span>- {Tarifa}$ </span>
                    <span>- {Tipo}</span>
                    <span>- {Horario}</span>
                </div>
            </section>
            <section className="stops">
                <h2>Paraderos</h2>
                <ul>
                    {stops.map((stop) => (
                        <StopCard
                            key={stop.ID_Paradero}
                            ID_Paradero={stop.ID_Paradero}
                            Nombre={stop.Nombre}
                            Descripción={stop.Descripción}
                        />
                    ))}
                </ul>
            </section>
        </main>
*/
@import "../../../../lib/style-helpers/colors";
@import "../../../../lib/style-helpers/measurement";

// .route-main {
//     max-width: 800px;
//     margin: 0 auto;
//     padding: 20px;
//     background-color: #f9f9f9;
//     border-radius: 10px;
//     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
//     display: grid;
//     grid-template-columns: 2fr 2fr;
//     grid-column-gap: 20px;
//   }
  
//   .route-main h1 {
//     font-size: 2rem;
//     margin-bottom: 20px;
//     color: #333;
//     grid-column: span 2;
//   }
  
//   .stop-location {
//     width: 90%;
//     border-radius: 10px;
//     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
//     grid-column: span 2;
//   }
  
//   .route-details h2 {
//     font-size: 2rem;
//     margin-bottom: 15px;
//     color: #333;
//   }
  
//   .route-details p {
//     font-size: 1rem;
//     line-height: 1.6;
//     color: #555;
//     margin-bottom: 15px;
//   }
  
//   .route-details div {
//     display: flex;
//     flex-wrap: wrap;
//   }
  
//   .route-details div span {
//     font-size: 1.2rem;
//     color: #555;
//     margin-right: 20px;
//   }
  
//   .stops h2 {
//     font-size: 2rem;
//     margin-bottom: 15px;
//     color: #333;
//   }
  
//   .stop-list {
//     list-style: none;
//     padding: 0;
//   }
  
//   .stop-list li {
//     background-color: #fff;
//     border-radius: 10px;
//     box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
//     padding: 20px;
//     margin-bottom: 15px;
//   }
  
//   .stop-list li h3 {
//     font-size: 1.8rem;
//     margin-bottom: 10px;
//     color: #333;
//   }
  
//   .stop-list li p {
//     font-size: 1.2rem;
//     line-height: 1.6;
//     color: #555;
//     margin-bottom: 10px;
//   }
  
.route-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 20px;
    padding: 20px;
    background-color: $base-color;
    font-weight: bold;
}

.route-main h1 {
    font-size: 2rem;
    text-align: center;
    margin: 0;
}

.route-info {
    color: black;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    width: 100%;

    .stop-location {
        border-radius: $radius-base;
        object-fit: cover;
        width: 70%;
        aspect-ratio: 26/9;
    }
}

.route-details {
    background-color: $primary;
    width: 100%;
    border-radius: $radius-base;
    color: white;
    padding: $padding-base;

    strong {
        font-size: 1.5rem;
        font-weight: 900;
        color: white;
    }

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.route-details span {
    color: white;
    font-size: 1.2rem;
}

.stops {
    display: flex;
    flex-direction: column;
    width: 100%;

    h2 {
        text-align: center;
        font-weight: 900;
        font-size: 3rem;
        margin: 0;
    }

    .stop-list {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }
}
