@import "../../../../lib/style-helpers/colors";
@import "../../../../lib/style-helpers/measurement";
@import "../../../../lib/style-helpers/mixins";


/* Estilos base */
.route-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.TituloP {
  text-align: center;
  margin: 50px 0;
}

.titulo-bienvenida {
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
}

.mensaje-bienvenida {
  font-size: 1.2rem;
  color: #666;
}


.route-info {
  width: 100%;
  max-width: 800px;
  margin-bottom: 20px;
  background-color: #ffffff; /* Cambiado a un color blanco */
  border: 1px solid #e0e0e0; /* Añadido borde para mayor definición */
  border-radius: 15px; /* Aumentado el radio del borde para suavizar las esquinas */
  padding: 30px; /* Aumentado el relleno para separar el contenido del borde */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ajustado el sombreado para un efecto más sutil */
}


.info-section {
  margin-bottom: 15px;
}

.info-section strong {
  font-weight: bold;
  color: #333;
}

.stops-title {
  margin-top: 20px;
}

.stops-title h2 {
  font-size: 1.5rem;
  color: #333;
}

.stops-part {
  display: flex;
  flex-direction: column;
  width: 70%;
  max-width: 800px;
}

.stops-timeline {
  padding-right: 20px;
}

.stop-timeline-item {
  display: block;
  margin-bottom: 10px;
  cursor: pointer;
  color: #333;
}

.timeline-input {
  margin-right: 5px;
  cursor: pointer;
}

.stop-image {
  margin-top: 20px;
}

.stop-image-link {
  display: block;
  width: 100%;
}

.stop-image img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.video-container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center; /* Centra horizontalmente el contenido */
}

.video-title {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #333;
}

.video-content {
  max-width: 800px;
  margin: 0 auto;
}

.video {
  width: 100%; /* O el ancho deseado */
  height: auto; /* Se ajustará automáticamente para mantener la relación de aspecto original */
  max-width: 800px; /* Evita que el video se extienda más allá de su tamaño original */
  display: block; /* Asegura que el video se muestre correctamente */
  margin: 0 auto; /* Centra el video horizontalmente */
}



/* Media queries */
@media screen and (max-width: 800px) {
  .route-info,
  .stops-part {
      padding: 10px;
  }

  .stops-timeline {
      padding-right: 0;
  }

  .stop-timeline-item {
      font-size: 0.9rem;
  }
}

@media screen and (max-width: 600px) {
  .info-section strong {
      font-size: 0.9rem;
  }

  .stops-title h2 {
      font-size: 1.2rem;
  }
}
