@import "../../lib/style-helpers/colors";
@import "../../lib/style-helpers/measurement";
.dashboard-header {
    z-index: 100;
    background-color: $dark-color;
    width: 100%;
    height: 10vh;
    display: flex;
    padding: 0 15px;
    align-items: center;
    position: sticky;
    top: 0;
    right: 0;
    max-height: 120px;
    animation-name: unnappear;
    animation-timeline: scroll();
    transition: all 0.5s ease-in-out;
    .logout-button {
        width: fit-content;
        padding: 5px;
    }

}

@keyframes unnapear {
    to {
        opacity: 0.8;
    }
}

.main-dashboard {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background-color: $base-color;
    transition: opacity 0.3s ease-in-out;
    opacity: 0.9;
    &:hover {
        opacity: 1;
    }
    border-radius: $radius-base;
    .principal-message {
        max-width: 40ch;
        text-overflow: ellipsis;
        font-size: 20px;
        font-weight: 700;
        text-align: center;
        letter-spacing: .01px;
    }
}