@import "../../lib/style-helpers/colors";
.dashboard-header {
    z-index: 100;
    background-color: $dark-color;
    width: 100%;
    height: 10vh;
    display: flex;
    padding: 0 15px;
    align-items: center;
    position: sticky;
    top: 0;
    right: 0;
    max-height: 120px;
    animation-name: unnappear;
    animation-timeline: scroll();
    transition: all 0.5s ease-in-out;
    .logout-button {
        width: fit-content;
        padding: 5px;
    }

}

@keyframes unnapear {
    to {
        opacity: 0.8;
    }
}