@import "../../lib/style-helpers/mixins";
@import "../../lib/style-helpers/colors";
@import "../../lib/style-helpers/measurement";

.slider {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  overflow: hidden;
}

.main-home {
  position: relative;
  height: 90vh;
  max-height: 1000px;
}

.slider-image {
  width: 100vw;
  height: 100%;
  object-fit: cover;
  animation: slide 20s infinite linear alternate both;
}

.slider-content {
  @include center;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(1px) saturate(.5) contrast(120%) brightness(30%);
  z-index: 1;
  top: 0;
  inset: 0;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100vw * 3);
  }
}



.home-content {
  padding: 20px*2.5 15px*2.5;
  display: flex;
  flex-direction: column;
  border: 1px solid $primary;
  gap: 20px;
  background-color: $base-color;
  transition: opacity 0.3s ease-in-out;
  opacity: 0.9;

  &:hover {
    opacity: 1;
  }

  border-radius: $radius-base;

  .principal-message {
    max-width: 40ch;
    text-overflow: ellipsis;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    letter-spacing: .01px;
  }
}

.main-buttons {
  display: flex;
  justify-content: center;
  gap: 12px;

  .main-button {
    strong {
      color: $base-color;
    }

    width: 50%;
    height: 70px;
    background-color: $secondary;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }
}

.info-part {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 5rem 1.25rem;
}

