@import "../../../lib/style-helpers/mixins";
@import "../../../lib/style-helpers/colors";


.footer {
  background-color: $dark-color;
  color: #fff;
  padding: 50px 0;
}

.box-container {
  display: flex;
  justify-content: space-around;
  max-width: 1200px;
  margin: 0 auto;
}

.box {
  flex: 1;
  margin: 0 20px;
}

.box h3 {
  font-size: 1.5rem;
  margin-bottom: 15px;
  color: white;
}

.box a, .box p {
  color: #fff;
  text-decoration: none;
  display: block;
  margin-bottom: 10px;
}

.box a:hover {
  text-decoration: underline;
}

.credit {
  text-align: center;
  margin-top: 30px;
}

.credit p {
  margin: 5px 0;
  color: white;
}

.credit span {
  font-weight: bold;
  color: #fff;
}

@media screen and (max-width: 360px){
  
  
.footer {
}
.box-container {
  display: flex;
  justify-content: center;
  max-width: 1200px;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;
  margin: 0 auto;
}
}
