// En tu archivo de variables, por ejemplo, _variables.scss

$gap-base: 20px; // Puedes ajustar este valor según tus necesidades

// Ahora en tu archivo profile.scss, puedes utilizar la variable $gap-base sin errores

@import "../../../lib/style-helpers/colors";
@import "../../../lib/style-helpers/measurement";

.main-profile {
    display: flex;
    flex-direction: column;
    gap: $gap-base; // Utilizando la variable $gap-base
    padding: $padding-base;
    position: relative;
    background-color: rgba(128, 128, 128, 0.549);
    
    .profile-title,
    .profile-text {
        color: $base-color;
        text-align: center;
        font-size: 20px;
        color: black;
    }

    .image-name {
        position: relative;
        padding: $padding-base;
        display: flex;
        flex-direction: column;
        gap: $gap-base; // Utilizando la variable $gap-base
        align-items: start;
        border-radius: $radius-base;

        &::after {
            background-color: $primary;
            content: "";
            position: absolute;
            width: 100%;
            height: 50%;
            z-index: 1;
            top: 0;
            inset: 0;
            border-radius: $radius-base;
        }

        * {
            z-index: 2;
        }

        .username-display {
            color: white;
            font-size: 1.5rem;
        }

        .edit-profile {
            position: absolute;
            right: $padding-base;
            bottom: $padding-base;
        }
    }
}

.profile-camps {
    display: flex;
    flex-direction: column;
    gap: $gap-base; // Utilizando la variable $gap-base
    padding: $padding-base * 2;
    border-radius: $radius-base;
    align-items: center;
    justify-content: center;

    .input-wrapper {
        color: rgb(16, 16, 16);
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        width: 100%;
        font-size: 1.5rem;
        font-weight: 900;
        background-color: aliceblue;
        padding-left: 10%;
        

        input {
            font-size: 1rem;
            border: none;
            color: rgb(10, 10, 10);
            padding: $padding-base - 10;
            border-radius: 0;
            width: 100%;
            background-color: transparent;

            //read only
            border-bottom: 1px solid $base-color;

            &:read-only {
                border-bottom: 1px solid transparent;
            }
        }
    }
}

.delete-account {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: $gap-base; // Utilizando la variable $gap-base
    padding: $padding-base;
    background-color: rgba(darken($primary, 35%), 0.2);
    border-radius: $radius-base;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    &::after {
        background-color: $base-color;
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        z-index: 1;
        top: 0;
        inset: 0;
        border-radius: $radius-base;
    }

    .delete-account-button {
        background-color: rgba(darken($primary, 25%), 0.85);
        color: white;
        padding: $padding-base - 10;
        border-radius: $radius-base;
        font-size: 1rem;
        font-weight: 900;
        width: fit-content;
        text-align: center;
        cursor: pointer;

        &:hover {
            background-color: darken($primary, 10%);
        }
    }
}

dialog {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;

    &:not([open]) {
        display: none;
    }

    border: none;
    border-radius: $radius-base;
}

.dialog-content {
    display: flex;
    flex-direction: column;
    gap: $gap-base; // Utilizando la variable $gap-base
    padding: $padding-base;
    background-color: rgba(darken($primary, 35%), 0.2);
    border-radius: $radius-base;
    justify-content: center; // Center the dialog vertically

    .dialog-buttons {
        display: flex;
        gap: $gap-base; // Utilizando la variable $gap-base
        align-items: center;
        justify-content: center;
        width: 100%;
    }
}
