

.profile-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Dos columnas de igual tamaño */
  max-width: 700px; /* Reduce el ancho máximo del contenedor */
  margin: 1rem auto;
  padding: 1rem; /* Reduce el espacio interno del contenedor */
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: auto; /* Establece la altura automática para adaptarse al contenido */
}


.profile-description {
  grid-column: 1 / span 2; 
  text-align: center;
  margin-bottom: 2rem;
  border-radius: 10px;
  padding: 20px;
}

.profile-image {
  display: flex;
  justify-content: center;
  align-items: center; 
}

.profile-image img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  object-fit: cover;
}
.profile-title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.edit-profile-button {
  display: flex;
  justify-content: center;
  text-align: center; /* Para centrar horizontalmente */
  margin-top: 20px;
}


.profile-form {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Dos columnas de igual tamaño */
  gap: 20px; /* Espacio entre los elementos */
  height: 150px;

}

.profile-input-container {
  display: flex;
  align-items: center;
}

.input-icon {
  margin-right: 0.5rem;
}

.tickets-section {
  grid-column: 2; /* Ubicado en la segunda columna */
  text-align: center;
  height: 100px;
}

.ticket-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.ticket-list li {
  margin-bottom: 0.5rem;
}

.delete-account {
  grid-column: 1 / span 2; /* Ocupa dos columnas */
  text-align: center;
}

.dialog-container {
  position: relative;
}



.dialog-content {
  position: relative;
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 2;
}

.dialog-buttons {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.cancel-delete {
  margin-right: 1rem;
}
.tickets-section {
  text-align: center;
  margin-top: 2rem;
}

.tickets-title {
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

.ticket-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.ticket-item {
  margin-bottom: 0.5rem;
}

.ticket-title {
  font-weight: bold;
}

.ticket-date {
  color: #666;
}

.no-tickets-message {
  color: #666;
}

.delete-account {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 2rem;
}

.delete-account-button {
  background-color: #9e150b; /* Cambia el color del botón según tu preferencia */
  color: #fff; /* Cambia el color del texto del botón según tu preferencia */
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.delete-account-button:hover {
  background-color: #d32f2f; /* Cambia el color de fondo al pasar el ratón por encima */
}




// .profile-container {
//   display: flex;
//   flex-direction: column;
//   align-items: center; /* Centra horizontalmente */
//   justify-content: center; /* Centra verticalmente */
//   text-align: center; /* Alinea el texto al centro */
// }


// .main-profile {
//   display: flex;
//   flex-direction: column;
// }

// .profile-info {
//   display: flex;
//   align-items: center;
//   margin-bottom: 1rem; /* Espacio entre la imagen y el nombre */
// }

// .profile-image {
//   margin-right: 1.5rem; /* Reducir el espacio entre la imagen y los detalles */
// }

// .profile-image img {
//   width: 75px;
//   height: 75px;
//   border-radius: 50%;
//   object-fit: cover;
// }

// .profile-details {
//   flex-grow: 1;
//   display: flex;
//   flex-wrap: wrap; /* Envolver los detalles en caso de espacio insuficiente */
// }

// .profile-details h4 {
//   margin: 0 1rem 0.5rem 0; /* Espacio alrededor del nombre */
//   font-size: 1.2rem;
// }

// .profile-form {
//   margin-top: 1rem;
// }

// .profile-input-container {
//   display: flex;
//   align-items: center;
//   margin-bottom: 1rem;
// }

// .input-icon {
//   margin-right: 0.5rem;
// }

// .profile-input {
//   flex-grow: 1;
// }

// .tickets-section {
//   margin-top: 2rem;
// }

// .tickets-section h3 {
//   font-size: 1.3rem;
//   margin-bottom: 1rem;
// }

// .ticket-list {
//   list-style: none;
//   padding: 0;
//   margin: 0;
// }

// .ticket-list li {
//   margin-bottom: 0.5rem;
// }

// .delete-account {
//   margin-top: 2rem;
//   text-align: center;
// }

// .dialog-container {
//   position: relative; /* Asegurar que la posición relativa */
// }

// .dialog-background {
//   position: absolute;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   background-color: rgba(0, 0, 0, 0.5);
//   z-index: 1;
// }

// .dialog-content {
//   position: relative;
//   background-color: white;
//   padding: 2rem;
//   border-radius: 10px;
//   box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
//   z-index: 2;
// }

// .dialog-buttons {
//   display: flex;
//   justify-content: center;
//   margin-top: 1rem;
// }

// .cancel-delete {
//   margin-right: 1rem;
// }
// .input-wrapper {
//   margin-bottom: 10px;
// }

// .input-wrapper .input {
//   padding: 10px; 
//   border-radius: 5px;
//   border: 1px solid #ccc; 
//   width: 100%; 
//   box-sizing: border-box; 
// }

// .input-wrapper .input:focus {
//   outline: none; /* Eliminar el contorno al recibir foco */
//   border-color: #b41206; /* Cambiar el color del borde al recibir foco */
// }
// .profile-description {
//   text-align: center; /* Centrar el contenido */
//   margin-bottom: 1rem; /* Añadir un margen inferior */
// }

// .profile-description-text {
//   color: #666; /* Cambiar el color del texto para que sea menos prominente */
// }
